:root {
  --my-background: #333333;
  --my-header: #999999;
}


body {
    background: var(--my-background);
} 

li {
    font-size: 20px;
    color: white;
    margin-left: 8vw;
}

button { 
    background: none;
    border: none;
}

.container {
    min-height: 100vh;
    margin-top: 40px;
}

.header {
    background: var(--my-header);
    position: fixed;
    height: 30px;
    width: 100vw;
    top: 0;
}

.addNewUserIco {
    position: relative;
    height: 25px;
    width: 25px;
    margin: 3px;
    z-index: 2;
    cursor: pointer;
}

.loadingIco {
    position: absolute;
    z-index: 2;
    margin: 3px;
    height: 25px;
    width: 25px;
    right: 3vw;
}

.title {
    text-align: center;
    position: absolute;
    top: 15px;
    margin-top: -10px;
    width: 100%;
    z-index: 1;
    font-size: 20px;
    
}

.body {
    display: grid;
    grid-template-areas: ". bodyField .";
}

.bodyField {
    color: white;
    display: grid;
    grid-area: bodyField;
    grid-template-columns: 10vw 20vw;

}

.profileImage {
    border-radius: 30%;
    width: 15vw;
    height: 15vw;
}

.profileField > button {
    position: absolute;
    right: 2vw;
    background: transparent;
    border: transparent;
    font-size: 17px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
    color: white;
    font-weight: 700;
}

.profileField > button:hover { 
    color: red;
    opacity: 1;
}

.infoField {
    padding-top: 3vh;
    list-style-type: "\27A1  ";
}

.infoField > li {
    white-space: nowrap;
    font-size: 2vw;
}

.addNewUserForm { 
    position: fixed;
    top: 29px;
    background: var(--my-header);
    width: 50vw;
}

.addNewUserForm > * {
    margin: 2px 2px 5px 5px;
    display: block;
    max-height: 300px;
    background: transparent;  
    border-style: none none solid solid;
    overflow: hidden;
}

.addNewUserForm > input[type='file']{
    border-style: none;
    width: 47%;
}

.fieldToBeUpdatedInput {
    position: relative;
    background: transparent;
    margin-left: 10vw;
    font-size: 4vw;
    border-style: none none ridge ridge;
    color: white;
    padding-left: 3px;
    width: 30vw;
    top: -2vh;

}

.submitIco { 
    position: relative;
    width: 8vw;
    height: 3vh;
    left: 2vw;
    cursor: pointer;
    opacity: 0.5;
    top: -2vh;
}

.submitIco:hover {
    opacity: 1;
}

.xIco { 
    position: relative;
    width: 7vw;
    height: 7vw;
    left: 5vw;
    cursor: pointer;
    opacity: 0.5;
    top: -2vh;
}

.xIco:hover { 
    opacity: 1;
}

.toBeUpdatedPhotoInput {
    display:none;
}

.toBeUpdatedPhotoLabel { 
    position: relative;
    display: block;
    font-size: 5px;
    background-color: var(--my-header);
    border-radius: 50%;
    width: 25vw;
    height: 30vw;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}

.toBeUpdatedPhotoLabel:hover {
    opacity: 1;
}

.toBeUpdatedPhotoLabel > div { 
    position: absolute;
    top: 15vw;
    height: 10vw;
    margin-top: -5vw;
    font-size: 3vw;
}

.toBeUpdatedPhotoForm{
    position: relative;
}   

.toBeUpdatedPhotoButton {
    position: relative; 
    top: 22vw;
    right: 0vw;
    background: var(--my-background);
    border-style:outset;
    border-color: var(--my-background);
    border-radius: 20%;
    opacity: 0.5;
    cursor: pointer;
}

.toBeUpdatedPhotoButton:hover { 
    opacity: 1;
}

.toBeUpdatedPhotoButton > div {
    font-size: 3vw;
    color: white;
    padding: 0.5vw;
}

@media only screen and (max-width: 720px) {
    
    .addNewUserForm { 
        position: fixed;
        top: 29px;
        background: var(--my-header);
        width: 100vw;
    }
    
    .addNewUserForm > input[type='file']{
        width: 100%;
    }

    .infoField {
        padding-top: 1.5vh;
    }

    .infoField > li {
        margin-left: 13vw;
    }

    .fieldToBeUpdatedInput {
        margin-left: 13vw;
    }
  }






